{% extends "/admin/base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Dodaj wpis{% endblock %}

{% block content %}
<h1>Dodaj artykuł</h1>
    <div class="post">
    <form  method="post"  action="{{ url_for('posts') }}">
        {{ err }}
   {{ form.hidden_tag() }}
    {{ render_field(form.title) }}
    {{ render_field(form.content,rows=10, cols=40) }}
        {{ render_field(form.img_url) }}
        {{ render_field(form.category) }}

        <button class="confirm">Dodaj wpis!</button>
    </form>
    </div>
{% endblock %}
