<!DOCTYPE html>
<html dir="ltr" lang="pl">
{% from "_formhelpers.html" import render_field %}
<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Słodkich snów</title>
	<link href="{{ url_for('static', filename='css/foundation.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
	<nav class="top-bar topbar-responsive">
		<div class="top-bar-title">
			<span data-hide-for="medium" data-responsive-toggle="topbar-responsive"><button class="menu-icon" data-toggle="" type="button"><span data-hide-for="medium" data-responsive-toggle="topbar-responsive"></span></button></span> <a class="topbar-responsive-logo" href="{{url_for('index')}}"><strong>Słodkich snów</strong></a>
		</div>
		<div class="topbar-responsive-links" id="topbar-responsive">
			<div class="top-bar-right">
				<ul class="menu simple vertical medium-horizontal">
					<li>
						<a href="{{url_for('posty')}}">Wszystkie wpisy</a>
					</li>
					<li>
						<a href="{{url_for('add_article')}}">Dodaj artykuł</a>
					</li>
					<li>
						<a href="{{url_for('panel')}}">Panel użytkowników</a>
					</li>
                    <li>
						<a href="{{url_for('newsletter')}}">Wysyłka newslettera</a>
					</li>
					<li>
						<a href="{{url_for('logout')}}">Wyloguj</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
          <header>
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
  </header>
	<main>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</main>
	<footer class="responsive-blog-footer">
		<div class="row">
			<div class="medium-8 columns small-order-2 medium-order-1 about-container">
				<div class="row">
					<div class="medium-8 columns about-section">
						<h4>O serwisie</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a posuere augue. Etiam porttitor luctus molestie. Maecenas ac mauris varius, vehicula sapien at, vehicula est. Ut lacinia sed urna et aliquet. Morbi nisi lorem, porta quis quam vitae, maximus congue nulla. Nam ultrices suscipit est et fringilla. Suspendisse potenti. Phasellus id lacinia metus. Etiam rhoncus lacinia diam in tristique. Nulla vehicula metus eget dui porttitor ullamcorper. Sed laoreet dictum molestie..</p>
					</div>
				</div>
			</div>
			<div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
				<h4 class="mailing-list">Zapisz się na mój newsletter</h4>
				<form action="{{url_for('subscribe')}}" method="post">
					{{ err }} {{ subscribe.hidden_tag() }} {{ render_field(subscribe.name) }} {{ render_field(subscribe.email) }} <button class="button expanded subscribe-button">Zapisz się!</button>
					<p>Chcesz wypisać się z newslettera? <a href="{{url_for('wypisz')}}">Kliknij tutaj!</a></p>
				</form>
			</div>
		</div>
		<div class="creator">
			<p>Patrycja Nowak. Praca licencjacka.</p>
		</div>
	</footer>
	<script src="{{url_for('static',filename='js/vendor/jquery.js')}}">
	</script>
	<script src="{{url_for('static', filename='js/vendor/what-input.js')}}">
	</script>
	<script src="{{url_for('static',filename='js/vendor/foundation.js')}}">
	</script>
	<script src="{{url_for('static',filename='js/app.js')}}">
	</script>
	<script src="{{url_for('static',filename='js/myjs.js')}}">
	</script>
</body>
</html>