{% extends "/guest/base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Strona główna{% endblock %}

{% block content %}

    <div class="register">
    <h2 class="middle">Załóż konto</h2>

    <form class="register_form" action="{{ url_for('submit') }}" method="post">
    <dl>
        {{ err }}
    {{ form.hidden_tag() }}
    {{ render_field(form.login) }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password2) }}
    {{ render_field(form.subscriber) }}


    <button class="confirm">Zarejestruj!</button>
    </dl>
    </form>
</div>
{% endblock %}

